extends layout

block content
  script(src="/bundle.js")
  div.header
    div.container.center.pt3
      h1.h1.font-color-primary Nodeyard
      p.font-color-gray-dark.mb2 Development foundation of Node.js application
      a(href="https://github.com/AKIRA-MIYAKE/Nodeyard").btn.btn-ghost.btn-primary GitHub
      hr.my3
